<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Noisy Penguin Server List" />
    <meta property="og:image" content="<%= icon %>" />
    <meta property="og:description" 
    content="Brand new discord server list, made with love." />
    <meta property="og:type" content="website" />
    <%- include("partials/head.ejs") %>
    <title><%= lingua.index.page_title %></title>
</head>
<body style="<%= lingua.font %>"> 
   <%- include("partials/announcements.ejs") %> 
    <%- include("partials/nav.ejs") %>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="/img/favicon.png" width="200px" height="200px"
              alt="">
              <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= lingua.index.header.title %></h3>
              <br />
              <a class="btn" href="https://discord.com/invite/pErSSK5zjx" role="button" target="blank" style="color: white;">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <%= lingua.index.header.support_btn %>
              </a>
              
              <a class="btn loginHB" role="button" href="/login" style="color: white;">
                <span>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </span>
                <%= lingua.index.header.login_btn %>
              </a>
          </div>
        </div>
        </header>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <a class="twitter-timeline" width="300" height="400" href="https://twitter.com/penguin_noisy?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5"><%= lingua.index.section1.title %></h3>
                  <p><%= lingua.index.section1.description %> <a style="margin: auto;" href="https://twitter.com/penguin_noisy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @penguin_noisy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                </div>
              </div>
            </div>
          </div>
        </section>

        
        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="p-5">
                  <iframe src="https://discord.com/widget?id=851320736147701771&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5"><%= lingua.index.section2.title %></h3>
                  <p><%= lingua.index.section2.description %></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include("partials/chatbox.ejs") %>
    <%- include("partials/footer.ejs") %>
</body>
</html>