<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head.ejs") %>
    <title><%= lingua.index.page_title %></title>
</head>
<body style="<%= lingua.font %>"> 
    <%- include("partials/nav.ejs") %>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="/img/favicon.png" width="200px" height="200px"
              alt="">
              <h3 class="masthead-heading mb-0" style="font-size: 3em !important;">Noisy Penguin Server List</h3>
              <br />
              <a class="btn" href="https://discord.com/invite/pErSSK5zjx" role="button" target="blank" style="color: white;">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                Join Support Server
              </a>
              
              <a class="btn loginHB" role="button" href="/login" style="color: white;">
                <span>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </span>
                Login
              </a>
          </div>
        </div>
        </header>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <a class="twitter-timeline" width="300" height="400" href="https://twitter.com/penguin_noisy?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5">Twitter Timeline</h3>
                  <p>Our Twitter timeline feel free to follow us: <a style="margin: auto;" href="https://twitter.com/penguin_noisy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @penguin_noisy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                </div>
              </div>
            </div>
          </div>
        </section>

    <%- include("partials/footer.ejs") %>
</body>
</html>