<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <%- include("partials/head.ejs") %>
    <title><%= lingua.server.page_title %></title>
    <link rel="stylesheet" href="/css/server.css">
</head>
<body onclick="closeSearchResult()">
    <%- include("partials/nav.ejs") %>
    
    <header>
        <div class="container is-widescreen">
            <div class="columns reverse-row-order is-tablet">
                <div class="column is-two-thirds">
                    <h1 id="serverlisttitle">Noisy Penguin Discord Servers List</h1>
                    <h2 id="serverlistdescription">
                        Discover servers you're interested in and meet new friends
                    </h2>
                    <div class="relative search-wrapper" id="search-bar-container" style="max-width: 640px;">
                        <div class="input-with-btn">
                            <input type="search" class="search-bar mainsearch" onclick="openSearchResult()" name="serverquery" id="search-input-bar" autocomplete="off" data-uri-prefix="/server" placeholder="Search for specific servers..." value required>
                            <button id="search-button" tabindex="-1" aria-label="search">
                                <i class="fas fa-search search-btn"></i>
                            </button>
                        </div>
                        <div role="listbox" class="expandedsearchres" id="search-results" aria-live="polite" style="display: none;">
                            <div id="recent-search" style="display: block;">
                                <a role="option" class="flex stretch center-vertical">
                                    <i class="icon "></i>
                                    <h4>Type what you want, and we'll find it!</h4>
                                </a>
                            </div>
                        </div>   
                    </div>
                    <div class="featuredbuttonss">
                        <a href="/server/top" id="tag-explore">
                            <button class="ui button">
                                <i class="list layout icon"></i>
                                Top
                            </button>
                        </a>
                        <% serverCategory.forEach(data => { %>
                            <a href="/server/tag/<%= data.categoryName %>" id="tag-explore">
                                <button class="ui button">
                                    <i class="list layout icon"></i>
                                    <%= data.categoryName %>
                                </button>
                            </a>
                        <% }) %>
                        
                    </div>
                </div>
                <div class="column">
                    <div id="illustration">
                        <img src="<%= icon %>"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="server">
        <div class="container is-fullhd">
            <div onclick="window.location.href = '/server/top';" style="cursor: pointer;" class="section-title is-flex">
                <img src="/img/top.png" alt="server-top-icon" width="55px" class="mr-4" title="Top Servers">
                <span>
                    <h4><%= lingua.server.content.header.title %></h4>
                    <p><%= lingua.server.content.header.paragraph %></p>
                </span>
            </div>
        </div>

        <div class="server-list-section">
            <ul class="columns is-tablet">
                <% guild.forEach(function(data) { %> 
                    <li class="column server-card is-3">
                        <div class="content" style="cursor: pointer;">
                            <div class="guildCardSplash">
                                <div class="image" style="background-image: url('<%= data.icon %>');"></div>
                            </div>
                            <div class="top is-flex">
                                <div class="ub_container"></div>
                                <% if(data.verified == false) { %>
                                <div class="img-container">                        
                                    <div class="guild-img">
                                        <img onclick="visitCommunity('/server/<%= data.guildID %>')" src="<%= data.icon %>?size=128" alt="<%= data.guildName %>" style="cursor: pointer;" loading="lazy">
                                    </div>
                                    <span class="stats">
                                        <a href="/server/<%= data.guildID %>/like" data-tooltip="Rate this server" class="btn-like btn" onclick="web.events.track(web.events.EventType.VisitVote)">
                                            <div class="icon" title="<%= lingua.server.content.section.guild_card.like_title %> <%= data.guildName %>">
                                                <img src="/img/upvoted.svg" loading="lazy" title="Number of likes for <%= data.guildName %>">
                                            </div>
                                            <%= data.likes %>
                                        </a>
                                    </span>
                                    <span class="servers btn btn-orange btn-1x" style="margin-bottom: -10px;">
                                        <%= lingua.server.content.section.guild_card.members_count(data.memberCount) %>
                                    </span>
                                    <span class="servers btn btn-orange btn-1x" style="margin-bottom: -10px;">
                                         <%= lingua.server.content.section.guild_card.emojis_count(data.emojiCount) %>
                                    </span>
                                </div>
                            </div>
                            <% } else  { %>
                                <div class="img-container"> 
                                    <a title="Verified Discord Server" onclick="window.location.href = '/server/list-verified';" >
                                       <img src="/img/Verified.png" alt="verified-icon" class="verifiedIcon"> 
                                    </a>                       
                                    <div class="guild-img">
                                        <img onclick="window.location.href = '/server/<%= data.guildID %>';" src="<%= data.icon %>?size=128" alt="<%= data.guildName %>" style="cursor: pointer;" loading="lazy">
                                    </div>
                                    <span class="stats">
                                        <a href="/server/<%= data.guildID %>/like" data-tooltip="Rate this server" class="btn-like btn" onclick="web.events.track(web.events.EventType.VisitVote)">
                                            <div class="icon" title="<%= lingua.server.content.section.guild_card.like_title %> <%= data.guildName %>">
                                                <img src="/img/upvoted.svg" loading="lazy" title="Number of likes for <%= data.guildName %>">
                                            </div>
                                            <%= data.likes %>
                                        </a>
                                    </span>
                                    <span class="servers btn btn-orange btn-1x" style="margin-bottom: -10px;">
                                        <%= data.memberCount %> <%= lingua.server.content.section.guild_card.members_count %>
                                    </span>
                                    <span class="servers btn btn-orange btn-1x" style="margin-bottom: -10px;">
                                        <%= data.emojiCount %> <%= lingua.server.content.section.guild_card.emojis_count %>
                                    </span>
                                </div>


                              <% } %>   
                            
                            <div class="info">
                                <a href="/server/<%= data.guildID %>" class="guild-name" id="guild-<%= data.guildID %>" onclick="web.events.track(web.events.EventType.VisitCommunity)">
                                    <%= data.guildName %>
                                </a>
                                <p class="guild-description">
                                    <%= data.description %>
                                </p>
                                <span class="lib">
                                    <!--  SERVER CATEGORY -->
                                </span>
                            </div>

                            <div class="bottom is-flex bot-btns">
                                <span custom-context="/server/<%= data.guildID %>" onclick="window.location.href = '/server/<%= data.guildID %>';" class="color-medium-blue btn">
                                    <%= lingua.server.content.section.guild_card.view_btn %>
                                </span>
                                <span onclick="window.location.href = '/server/join/<%= data.guildID %>';" class="color-medium-blue btn">
                                    <%= lingua.server.content.section.guild_card.join_btn %>
                                </span>
                            </div>
                        </div>
                    </li>
                <% }) %> 
            </ul>
        </div>
    </div>

    <script>
        function openSearchResult() {
            let d = document.getElementById("search-results")
            d.style.display = "block";
        }

        function closeSearchResult() {
            let d = document.getElementById("search-results")
            d.style.display = "none";
        }
    </script>

    <%- include("partials/chatbox.ejs") %> 
    <%- include("partials/footer.ejs") %> 
</body>
</html>