<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <%- include("partials/head.ejs") %>
    <title><%= lingua.help_support.page_title %></title>
    <style>
        input {
            margin: auto;
        }
    </style>
</head>
<body style="<%= lingua.font %>">
    <%- include("partials/nav.ejs") %>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="<%= icon %>" width="200px" height="200px"
              alt="">
          </div>
        </div>
        </header>
    <form action="/add/support" method="post" accept-charset="UTF-8">
        <label for="username"><%= lingua.help_support.content.form.username_input %></label>
        <input type="text" id="username" name="username" required
        minlength="4" maxlength="12" size="20" class="form-control">
        <br/>

        <label for="title"><%= lingua.help_support.content.form.subject_input %></label>
        <input type="text" id="title" name="title" required class="form-control">

        <br/>

        <label for="body"><%= lingua.help_support.content.form.description_input %>:</label>
        <br/>
        <textarea name="body" id="body" cols="50" rows="10"></textarea class="form-control"> 

        <br/>

        <label for="attachments"><%= lingua.help_support.content.form.attachments_input %></label>
        <input type="file" name="attachments" id="attachments">

        <br/>
        <button type="submit" class="btn btn-light" data-mdb-ripple-color="dark" style="margin: 10px 10px !important;"><%= lingua.help_support.content.form.submit_btn %></button>
    </form>

    <%- include("partials/footer.ejs") %> 
</body>
</html>