<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
    <head>
    <%- include("../partials/head.ejs") %>
    <title>Noisy Penguin Server List | API</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/api.css">
</head>
<body class="bg-dark" style="<%= lingua.font %>">
    <%- include("../partials/nav.ejs") %> 
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="/img/favicon.png" width="200px" height="200px"
              alt="">
              <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= lingua.index.header.title %> API</h3>
              <br />
              <a class="btn" href="https://discord.com/invite/pErSSK5zjx" role="button" target="blank" style="color: white;">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <%= lingua.index.header.support_btn %>
              </a>
              
              <a class="btn loginHB" role="button" href="/login" style="color: white;">
                <span>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </span>
                <%= lingua.index.header.login_btn %>
              </a>
          </div>
        </div>
        </header>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                 <!--<h3 class="h3-guild-example"><%= lingua.api.content.section1.example %></h3>
                 <img src="/img/example_1.png" alt="live_example-1-img" width="800" height="500">-->
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <!--<div class="p-5">
                  <span class="http-req-verb">GET</span>
                  <h3 class="display-5 http-req-url">
                    /api/embed/server/<a class="http-req-variable" href="/api#guild-object">{guild.id}</a>
                  </h3>-->
                  <h6 class="h6-guild-object" id="guild-object"><%= lingua.api.content.section1.title %></h6>
                  <table>
                    <thead>
                        <tr>
                          <th scope="col"><%= lingua.api.content.section1.table.row1.title %></th>
                          <th scope="col"><%= lingua.api.content.section1.table.row2.title %></th>
                          <th scope="col"><%= lingua.api.content.section1.table.row3.title %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name1 %></td>
                          <td>snowflake</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc1 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name2 %></td>
                          <td>string</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc2 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name3 %></td>
                          <td>?string</td>
                          <td><a href="https://discord.com/developers/docs/reference#image-formatting" class="link-3NP4-r" title="information about icon hash"><%= lingua.api.content.section1.table.row3.td.desc3 %></a></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name4 %></td>
                          <td>string</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc4 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name5 %></td>
                          <td>snowflake</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc5 %></td>
                        </tr>
                        <tr>
                            <td><%= lingua.api.content.section1.table.row1.content.td.name6 %></td>
                            <td>?string</td>
                            <td><%= lingua.api.content.section1.table.row3.td.desc6.text %> <a href="https://discord.com/developers/docs/resources/voice#voice-region-object" class="link-3NP4-r" title="information about voice region"><%= lingua.api.content.section1.table.row3.td.desc6.link %></a></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name7 %></td>
                          <td>ISO8601 timestamp</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc7 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name8 %></td>
                          <td>ISO8601 timestamp</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc8 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name9 %></td>
                          <td>integer</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc9 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name10 %></td>
                          <td>integer</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc10 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name11 %></td>
                          <td>boolean</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc11 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name12 %></td>
                          <td>boolean</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc12 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name13 %></td>
                          <td>string</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc13 %></td>
                        </tr>
                        <tr>
                          <td><%= lingua.api.content.section1.table.row1.content.td.name14 %></td>
                          <td>string</td>
                          <td><%= lingua.api.content.section1.table.row3.td.desc14 %></td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>

    <%- include("../partials/chatbox.ejs") %>
    <%- include("../partials/footer.ejs") %>
</body>
</html>