<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <%- include("../partials/head.ejs") %>
    <title><%= lingua.support.page_title %></title>
    <link rel="stylesheet" href="/css/blog-main-content.css">
    <script src="/js/blog-main-content.js"></script>
    <script src="/js/4EH49SHA7RNPLGK.js"></script>
</head>
<body style="<%= lingua.font %>">
    <%- include("../partials/nav.ejs") %>

    <section id="blog-main-content" class="section main-content">
        <div class="main-inner-content">
            <h5 class="main-text-inner-content"><%= lingua.support.index.content.section_title %></h5>
            <button class="fas fa-search search-btn search-icon" id="search-btn" type="submit"></button>
            <form action="/support/blog/search" autocomplete="off" accept-charset="utf-8" class="search search-full" method="GET">
                <input type="search" name="blogquery" id="blogquery" placeholder="<%= lingua.support.index.content.search_input %>" autocomplete="off" aria-label="Search" required />
                <input type="hidden" name="locale" value="<%= lingua.locale %>">
            </form>
        </div>
    </section>
    
    <section class="intro">
        <h1><%= lingua.support.index.content.intro.h1 %></h1>
        <p>
            <%= lingua.support.index.content.intro.p %>
        </p>
    </section>

    <section class="category-grid">
        <ul class="flex-container">
           <% supportData.forEach(function(data) { %>
            <a id="item-container" href="/blog/support/articles/<%= data._id %>">
                <li class="flex-item">
                    <h2><%= data.title %></h2>
                    <hr>
                    <h3><%= data.body %></h3>
                    <i class="far fa-thumbs-up fa-xs like-icon"><span class="like-count"><%= data.upvoted %></span></i>
                    <i class="far fa-thumbs-down fa-xs disliked-icon"><span class="disliked-count"><%= data.downvoted %></span></i>
                    <h6><%= lingua.support.index.content.flex_items.created_at %> <%= data.createdAt.toLocaleString() %></h6>
                </li>
            </a>
            <% }) %>
        </ul>
    </section>

    <%- include("../partials/chatbox.ejs") %>
    <%- include("../partials/footer.ejs") %>
</body>
</html>