<!DOCTYPE html>
<html dir="ltr" lang="<%= lingua.locale %>">
<head>
    <meta property="og:title" content="<%= title %>"/>
    <meta itemprop="name" content="<%= title %>">
    <meta property="twitter:title" content="<%= title %>">
    <meta itemprop="description" content="<%= desc %>">
    <meta itemprop="image" content="<%= icon %>">
    <meta name="description" content="<%= desc %>">
    <meta name="theme-color" content="#7289DA" />
    <meta name="twitter:description" content="<%= desc %>">
    <meta name="twitter:image" content="<%= icon %>">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://localhost:5000/server/<%= guildid %>">
    <meta property="og:url" content="http://localhost:5000/server/<%= guildid %>">
    <meta property="og:site_name" content="Noisy Penguin Server List" />
    <meta property="og:description" content="<%= desc %>" />
    <meta property="og:image" content="<%= icon %>" />
    <meta property="og:type" content="website" />
    <%- include("../partials/head.ejs") %>  
    <title><%= title %> | <%= lingua.guild.page_title %></title>
    <style>
        .facebook-span-text {
          font-weight: 500;
        }
    </style>
</head>
<body style="<%= lingua.font %>">
    <%- include("../partials/nav.ejs") %>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="<%= icon %>" width="200px" height="200px"
              alt="">
              <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= header %></h3>
              <br />
              <a class="btn" href="/server/join/<%= join %>" role="button" target="blank" style="color: white;">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <%= lingua.guild.header.join_btn %>
              </a>
              
              <a class="btn loginHB" href="/user/add/<%= add %>" role="button" style="color: white;">
                <span>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </span>
                <%= lingua.guild.header.contact_btn %>
              </a>
          </div>
        </div>
        </header>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <img class="img-fluid" src="<%= ownerAvatar %>" alt="<%= ownerTag %>-icon">
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5"><%= lingua.guild.section1.title %> <%= ownerTag %></h3>
                  <p><%= userDesc %></p>
                </div>
              </div>
            </div>
          </div>
        </section>


        
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="<%= icon %>" alt="server-icon">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-5"><%= lingua.guild.section2.title %></h2>
              <p><%= desc %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/img/share.png" alt="share-icon">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h3 class="display-5"><%= lingua.guild.section3.title %></h3>
              
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="/server/<%= join %>/share/facebook"
                role="button"
                data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f fa-3x"></i
              >              
            </a>
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="/server/<%= join %>/share/twitter"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter fa-3x"></i>
              </a>
              <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="/server/<%= join %>/share/whatsapp"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-whatsapp fa-3x"></i>
              </a>
              <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="/server/<%= join %>/share/reddit"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-reddit fa-3x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/chatbox.ejs") %>
    <%- include("../partials/fbapi.ejs") %>
    <%- include("../partials/footer.ejs") %>
</body>
</html>